@font-face {
  font-family: 'Fredoka';
  src: url('./assets/fonts/Fredoka-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zing';
  src: url('./assets/fonts/ZingRustD2Demo-Base.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
    --font-zing: "Zing", sans-serif;
}